.footer-menu {
  background-color: #e76f51;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  width: 100vw;
}

.footer-card {
  bottom: 0;
  position: fixed;
}